@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 1;
    transform: translateX(-15%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.DrawerRight-enter-active {
  animation: openModal 0.7s ease-out forwards;
}
