.habitListContainer {
  display: grid;
  grid-template-columns: 150px repeat(7, 1fr);
  text-align: center;
}

.habitListHeader {
  padding-right: 16px;
}

.habitListItems {
  max-height: 50vh;
  overflow-y: scroll;
}

.recordCheckBox:disabled {
  cursor: not-allowed;
}
.highlight {
  background-color: yellow;
}
