.HabitListTable {
  overflow-y: scroll;
  height: 90%;
  width: 90%;
  margin: auto;
}

.HabitListTable table {
  text-align: center;
  width: 100%;
}

.DisabledCheckbox {
  cursor: not-allowed;
}

.NameColumn {
  width: 15%;
}

.DayColumn {
  width: 10%;
}

.TodayColumn {
  background-color: red;
}

.AchieveRateColumn {
  width: 10%;
}
