.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
}

.addHabitBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
  color: #007bff;
  border: 1px solid #bed1ed;
}

.addHabitBtn:hover {
  border: 1px solid #007bff;
}

.addHabitBtn span {
  margin-left: 8px;
}
