.today-habits {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.today-habit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 185px;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 10px;
  overflow: hidden;
  outline: 1px solid black;
}
.today-habit-card > * {
  margin-bottom: 10px;
}

.today-habit-card.done {
  background-color: rgba(0, 0, 0, 0.5);
}

.today-habit-name {
  font-weight: bold;
  font-size: 1.125rem;
}

.today-habit-description-read-more-button {
  align-self: flex-end;
}
