.weekly-progress-display {
  display: flex;
}

.weekly-progress-bar {
  -webkit-appearance: none;
  appearance: none;

  width: 95%;
  height: 20px;
}

.weekly-progress-label {
  width: 5%;
  text-align: right;
}
