.HabitDashBoard {
  height: 100%;
  width: 90%;
}

.HabitDashBoard > h3 {
  text-align: center;
}

.HabitDashBoard > div {
  height: 90%;
  overflow-y: scroll;
  word-break: break-all;
  border: solid 2px grey;
  border-radius: 10px;
  padding: 5%;
  box-sizing: border-box;
}

.HabitCard {
  border: solid 2px grey;
  border-radius: 10px;
  padding: 1vh 1vw;
  margin-bottom: 2vh;
  min-height: 120px;
}

.HabitCard > * {
  margin: 2%;
}

.HabitCard > button {
  height: 3vh;
}

.HabitCard > button:nth-child(4) {
  float: right;
}

.ShortDescCardStyle {
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}
