.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.periodSelector {
  display: flex;
}

.periodSelector button {
  height: 40px;
  width: 40px;
  border: 1px solid #bed1ed;
  border-radius: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: border 0.3s;
}

.periodSelector button:hover {
  border: 1px solid #007bff;
}

.period {
}
