.modalContainer {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.modalContainer.open {
  opacity: 1;
}

.modal {
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.open .modal {
  transform: translateY(0);
  box-shadow: -6px 5px 28px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -6px 5px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 5px 28px 0px rgba(0, 0, 0, 0.75);
}
