:root {
  --main-container-width: 70%;
}

.habit-tracker-app {
  display: flex;
  width: 1080px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
  gap: 1rem;
}

.main-container {
  width: var(--main-container-width);
}

.side-container {
  width: calc(100% - var(--main-container-width));
}

.today-habits-container {
  height: 100%;
}
.today-habits-section-title {
  padding: 0 10px;
}

.main-controllers {
  display: flex;
  justify-content: space-between;
}

.grid-weekly {
  display: grid;
  grid-template-columns: 150px repeat(7, 1fr);
}

.grid-weekly > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.grid-weekly > :first-child {
  justify-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
