.HabitTrackerLayout {
  display: grid;
  grid-template-columns: 75vw 25vw;
  grid-template-rows: 5vh 20vh 75vh;
}

.HabitHeaderLayout {
  grid-column: 1/2;
  grid-row: 1/2;
}

.HabitControllerLayout {
  grid-column: 1/2;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 2fr 10fr 5fr;
  grid-template-rows: 3fr 1fr;
}

.HabitDashBoardLayout {
  grid-column: 2/3;
  grid-row: 1/4;
}

.ModalContainerLayout {
  grid-column: 2/3;
  grid-row: 1/4;
}

.HabitListTableLayout {
  grid-column: 1/2;
  grid-row: 3/4;
}

.AddHabitBtnLayout {
  grid-column: 3/4;
  grid-row: 1/2;
}

.NavBtnLayout {
  grid-column: 1/2;
  grid-row: 1/2;
}

.PeriodLayout {
  grid-column: 2/3;
  grid-row: 1/2;
}

.ProgressBarLayout {
  grid-column: 1/4;
  grid-row: 2/3;
}
